## NOTEBOOK DE EXEMPLO - COPIADO DO MARIO - usado como base para aprendizado no Kaggle - Desafio Churn

* Versão 1

## Problema:
O objetivo desta análise consiste em prever a probabilidade de churn dos clientes de uma empresa de telecomunicações, isto é, a probabilidade de o cliente deixar de ser cliente.

## Controle de versões
1. Versão 1 : Seleção de variáveis - uso de variaveis selecionadas no modelo <br>
Score: ? <br>
2. Versão: Uso de todas as variáveis no modelo<br>
Score: ?

## Configuração do ambiente

In [1]:
from platform import python_version
print(python_version())

3.6.9

## Obtenção dos dados

### Importação das bibliotecas

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings("ignore", category=FutureWarning)
pd.options.display.float_format = '{:,.2f}'.format
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 72)

### Carregamento dos dados

In [9]:
url = 'https://raw.githubusercontent.com/Hayltons/DSWP/Kaggle_Churn/Dataframes/1_churn_train.csv'

In [10]:
df_treino = pd.read_csv(url,sep=',')

### Visualização das linhas iniciais de dados

In [11]:
df_treino.head()

,id,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,4030,Female,0,No,No,56.00,No,No phone service,DSL,Yes,Yes,Yes,Yes,No,No,Two year,No,NaN,45.05,2560.1,0
1,6731,Male,0,Yes,Yes,nan,Yes,No,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,One year,No,Mailed check,19.65,332.65,0
2,6479,Female,0,Yes,No,60.00,Yes,Yes,Fiber optic,No,Yes,Yes,Yes,Yes,Yes,Two year,Yes,Credit card (automatic),110.80,6640.7,0
3,6861,Female,0,No,No,37.00,Yes,Yes,Fiber optic,No,Yes,Yes,No,Yes,Yes,Month-to-month,Yes,Bank transfer (automatic),101.90,3545.35,1
4,3266,Male,0,Yes,Yes,29.00,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,70.75,1974.8,1

## Manipulação inicial do banco de dados

### Renomeando o banco de dados

In [12]:
df_treino.columns = df_treino.columns.str.lower()

In [13]:
df_treino.columns

Index(['id', 'gender', 'seniorcitizen', 'partner', 'dependents', 'tenure',
       'phoneservice', 'multiplelines', 'internetservice', 'onlinesecurity',
       'onlinebackup', 'deviceprotection', 'techsupport', 'streamingtv',
       'streamingmovies', 'contract', 'paperlessbilling', 'paymentmethod',
       'monthlycharges', 'totalcharges', 'churn'],
      dtype='object')

### Visualizando o banco de dados

In [14]:
df_treino.head(10).T  #.T faz a transposta da exibiçao do comando head

,0,1,2,3,4,5,6,7,8,9
id,4030,6731,6479,6861,3266,6368,5830,4476,1508,2921
gender,Female,Male,Female,Female,Male,Male,Male,Female,Male,Female
seniorcitizen,0,0,0,0,0,0,0,0,0,0
partner,No,Yes,Yes,No,Yes,No,Yes,No,No,Yes
dependents,No,Yes,No,No,Yes,No,Yes,No,No,No
tenure,56.00,NaN,60.00,37.00,29.00,70.00,31.00,3.00,54.00,72.00
phoneservice,No,Yes,Yes,Yes,Yes,No,No,Yes,Yes,Yes
multiplelines,No phone service,No,Yes,Yes,No,No phone service,No phone service,No,No,No
internetservice,DSL,No,Fiber optic,Fiber optic,Fiber optic,DSL,DSL,No,No,DSL
onlinesecurity,Yes,No internet service,No,No,No,Yes,Yes,No internet service,No internet service,Yes
onlinebackup,Yes,No internet service,Yes,Yes,No,No,No,No internet service,No internet service,Yes
deviceprotection,Yes,No internet service,Yes,Yes,No,Yes,Yes,No internet service,No internet service,Yes
techsupport,Yes,No internet service,Yes,No,No,Yes,Yes,No internet service,No internet service,Yes
streamingtv,No,No internet service,Yes,Yes,No,No,Yes,No internet service,No internet service,Yes
streamingmovies,No,No internet service,Yes,Yes,No,Yes,Yes,No internet service,No internet service,Yes
contract,Two year,One year,Two year,Month-to-month,Month-to-month,Two year,One year,Month-to-month,Two year,Two year
paperlessbilling,No,No,Yes,Yes,Yes,No,No,No,No,No
paymentmethod,NaN,Mailed check,Credit card (automatic),Bank transfer (automatic),Electronic check,Bank transfer (automatic),Electronic check,Electronic check,Credit card (automatic),Mailed check
monthlycharges,45.05,19.65,110.80,101.90,70.75,48.40,59.95,19.55,19.65,85.10
totalcharges,2560.1,332.65,6640.7,3545.35,1974.8,3442.8,1848.8,61.05,1008.7,6155.4
churn,0,0,0,1,1,0,0,0,0,0

### Verificando os tipos de dados

In [15]:
df_treino.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5634 entries, 0 to 5633
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                5634 non-null   int64
 1   gender            5634 non-null   object
 2   seniorcitizen     5634 non-null   int64
 3   partner           5634 non-null   object
 4   dependents        5416 non-null   object
 5   tenure            5173 non-null   float64
 6   phoneservice      5634 non-null   object
 7   multiplelines     5634 non-null   object
 8   internetservice   5634 non-null   object
 9   onlinesecurity    5634 non-null   object
 10  onlinebackup      5634 non-null   object
 11  deviceprotection  5634 non-null   object
 12  techsupport       5634 non-null   object
 13  streamingtv       5634 non-null   object
 14  streamingmovies   5634 non-null   object
 15  contract          5634 non-null   object
 16  paperlessbilling  5634 non-null   object
 17  paymentmethod     5535 non-null   object
 18  monthlycharges    5634 non-null   float64
 19  totalcharges      5634 non-null   object
 20  churn             5634 non-null   int64
dtypes: float64(2), int64(3), object(16)
memory usage: 924.5+ KB

## EDA - Análise Exploratória de Dados

### Separando as variáveis por tipo

In [20]:
df_quant = df_treino[['tenure','monthlycharges','totalcharges']]
df_categ = df_treino.drop(columns=['id','tenure','monthlycharges','totalcharges','churn'], axis=1)
df_target = df_treino['churn']

In [21]:
df_quant.head()

   tenure  monthlycharges totalcharges
0   56.00           45.05       2560.1
1     nan           19.65       332.65
2   60.00          110.80       6640.7
3   37.00          101.90      3545.35
4   29.00           70.75       1974.8

In [22]:
df_categ.head()

,gender,seniorcitizen,partner,dependents,phoneservice,multiplelines,internetservice,onlinesecurity,onlinebackup,deviceprotection,techsupport,streamingtv,streamingmovies,contract,paperlessbilling,paymentmethod
0,Female,0,No,No,No,No phone service,DSL,Yes,Yes,Yes,Yes,No,No,Two year,No,NaN
1,Male,0,Yes,Yes,Yes,No,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,One year,No,Mailed check
2,Female,0,Yes,No,Yes,Yes,Fiber optic,No,Yes,Yes,Yes,Yes,Yes,Two year,Yes,Credit card (automatic)
3,Female,0,No,No,Yes,Yes,Fiber optic,No,Yes,Yes,No,Yes,Yes,Month-to-month,Yes,Bank transfer (automatic)
4,Male,0,Yes,Yes,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Electronic check

In [23]:
df_target.head()

0    0
1    0
2    0
3    1
4    1
Name: churn, dtype: int64

### Variáveis quantitativas

#### Verificação dos tipos de dados das variáveis quantitativas

In [24]:
df_quant.dtypes

tenure            float64
monthlycharges    float64
totalcharges       object
dtype: object

#### Correção da variável 'totalcharges'
Essa variável é quantitativa, mas foi importada como sendo do tipo Object. <br>
Portanto, precisa ser alterada para o tipo numerico.

In [29]:
df_treino['totalcharges'] = pd.to_numeric(df_treino['totalcharges'], errors='coerce')
df_quant['totalcharges'] = pd.to_numeric(df_quant['totalcharges'], errors='coerce')

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

#### Verificação dos tipos de dados.
Verifica-se que totalcharges foi corrigida.

In [30]:
df_quant.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5634 entries, 0 to 5633
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   tenure          5173 non-null   float64
 1   monthlycharges  5634 non-null   float64
 2   totalcharges    5626 non-null   float64
dtypes: float64(3)
memory usage: 132.2 KB

#### Sumário estatístico das variáveis quantitativas

In [ ]:
quantitativas.describe()

#### Boxplot

In [ ]:
sns.catplot(data=quantitativas,
              kind='box',
              height=7,
              aspect=2.5)

#### Verificação dos missing values das variáveis quantitativas

In [ ]:
quantitativas.isnull().sum()

#### Variável quantitativa 'CobrancaMernsal'

In [ ]:
quantitativas[['CobrancaMensal']].hist(bins=150)

In [ ]:
quantitativas[['CobrancaMensal']].mode()

In [ ]:
quantitativas[['CobrancaMensal']].describe()

In [ ]:
# Coeficiente de variação
quantitativas[['CobrancaMensal']].std()/quantitativas[['CobrancaMensal']].mean()*100

In [ ]:
sns.catplot(data=quantitativas[['CobrancaMensal']],
              kind='box',
              height=2.5,
              aspect=2.5)

#### Variável quantitativa 'CobrancaTotal'

In [ ]:
quantitativas[['CobrancaTotal']].describe()

In [ ]:
# Coeficiente de variação
quantitativas[['CobrancaTotal']].std() / quantitativas[['CobrancaTotal']].mean() * 100

In [ ]:
quantitativas[['CobrancaTotal']].mode()

In [ ]:
quantitativas[['CobrancaTotal']].hist(bins=150)

In [ ]:
sns.catplot(data=quantitativas[['CobrancaTotal']],
              kind='box',
              height=3,
              aspect=2.5)

In [ ]:
quantitativas['CobrancaTotal_2'] = quantitativas['CobrancaTotal'].fillna(quantitativas['CobrancaTotal'].mode()[0])

In [ ]:
quantitativas[['CobrancaTotal_2']].isnull().any()

#### Variável quantitativa 'MesesNaCompanhia'

In [ ]:
quantitativas.head(23).T

In [ ]:
quantitativas['RazaoCobrTotalMensal'] = quantitativas['CobrancaTotal']/quantitativas['CobrancaMensal']

In [ ]:
quantitativas['DiferencapercRazaoCobrTotMensal'] = (quantitativas['MesesNaCompanhia']-quantitativas['RazaoCobrTotalMensal'])/quantitativas['MesesNaCompanhia']

Verifica-se que a razão entre os valores das variáveis CobrancaTotal e CobrancaMensal é um bom indicador<br>
do valor da variável MesesNaCompanhia. Dessa forma, vamos usar essa razão para preencher os valores faltantes <br>
da variável 'MesesNaCompanhia'.

In [ ]:
quantitativas.head(23).T

In [ ]:
quantitativas = quantitativas.drop(columns=['RazaoCobrTotalMensal','DiferencapercRazaoCobrTotMensal'],
                   axis=1)

In [ ]:
quantitativas.head().T

In [ ]:
quantitativas['MesesNaCompanhia_2']  = quantitativas['MesesNaCompanhia'].fillna(quantitativas['CobrancaTotal']/
                                                                               quantitativas['CobrancaMensal'])

In [ ]:
quantitativas.head(20).T

In [ ]:
quantitativas_2 = quantitativas[['CobrancaMensal','CobrancaTotal_2','MesesNaCompanhia_2']]

In [ ]:
quantitativas_2.isnull().sum()

### Discretização das variáveis quantitativas

In [ ]:
quantitativas_2.nunique()

In [ ]:
from sklearn.preprocessing import KBinsDiscretizer

In [ ]:
discretizer = KBinsDiscretizer(n_bins=5,
                              encode='ordinal',
                              strategy='quantile')

In [ ]:
discretizer.fit(quantitativas_2)

In [ ]:
bining = discretizer.fit_transform(quantitativas_2)

In [ ]:
quantitativas_bining = pd.DataFrame(bining,
                                    columns=['CobrancaMensal',
                                             'CobrancaTotal_2',
                                             'MesesNaCompanhia_2'])

In [ ]:
quantitativas_bining.head(30).T

### Variáveis categóricas

In [ ]:
categóricas.head()

In [ ]:
categóricas.isna().sum()

#### Contagem de valores da variavel genero

In [ ]:
categóricas['genero'].value_counts()

#### Tabela de frequencias Churn x genero

In [ ]:
# Table of survival vs. sex
Churn_genero = pd.crosstab(index=dados["Churn"], 
                           columns=dados["genero"],
                          margins=True)

Churn_genero.columns=['Female','Male',"rowtotal"]
Churn_genero.index= ["0","1","coltotal"]

Churn_genero

In [ ]:
Churn_genero/Churn_genero.loc["coltotal","rowtotal"]

#Temos missing values em duas variáveis categóricas:
#'TemParceiro'        categórica
#'MetodoPagamento'    categórica

#### Imputação de missing values na variável 'TemDependente'
Como 'TemDependente' é uma variável categórica, criaremos uma nova categoria, chamada 'Miss', a qual será imputada a todos os missing values dessa variável.

In [ ]:
categóricas['TemDependentes'] = categóricas['TemDependentes'].fillna(categóricas['TemDependentes']=='Miss')

In [ ]:
categóricas['TemDependentes'].isnull().any()

#### Imputação de missing values na variável 'MetodoPagamento'

In [ ]:
categóricas['MetodoPagamento'] = categóricas['MetodoPagamento'].fillna(categóricas['MetodoPagamento']=='Miss')

In [ ]:
categóricas['MetodoPagamento'].isnull().any()

In [ ]:
categóricas.isnull().sum()

In [ ]:
dados['MetodoPagamento'].value_counts()

## Verificação da cardinalidade das variaveis categoricas
Como todas as variáveis categóricas têm baixa cardinalidade (quantidade de valores únicos menor que 10), vamos criar variáveis dummy para todas.

In [ ]:
categóricas.nunique()

In [ ]:
dummies = pd.get_dummies(categóricas,
                        prefix_sep='_',
                        drop_first=True)

In [ ]:
dummies.head()

In [ ]:
dummies['Idoso'].unique()

In [ ]:
dummies.columns

## Formação dos bancos de dados explicativas e target

In [ ]:
explicativas=pd.concat([quantitativas_bining,dummies],
                      axis=1)

In [ ]:
explicativas.columns

In [ ]:
#explicativas.drop(['id'],axis=1,inplace=True)
explicativas.head()

In [ ]:
target.head()

## Separação dos conjuntos de treino e teste

In [ ]:
from sklearn.model_selection import train_test_split
x_treino, x_teste, y_treino, y_teste = train_test_split(explicativas,
                                                       target,
                                                       test_size=0.3,
                                                      random_state=42)

## Tuninng de hiperparâmetros
Inicialmente, chamar o módulo de tuning.<br>
Passo a passo <br>
1 - definir um dict(dicionario com os valores dos hiperparams)<br>
2 - chamar o modulo de tunning<br>
3 - chamar obj do tunning<br>
4 - treinamento<br>
5 - avaliar os resultados

### Chamar o módulo de Tuning

In [ ]:
from sklearn.model_selection import  GridSearchCV

### Chamar módulo de acurácia

In [ ]:
from sklearn.metrics import accuracy_score

### Random Forest

In [ ]:
import timeit

In [ ]:
#1
rf_dict = {                            # nome do dicionário que está sendo criado.
    'n_estimators':[40,50,60,70],   # numero de estimadores que será testado. Quanto maior, mais exige poder computacional.
    'criterion':['gini', 'entropy'],   #  critérios
    'bootstrap':[False, True],  # Faz amostragem com e sem reposição.
    'random_state': [42]
}

In [ ]:
#2
from sklearn.ensemble import RandomForestClassifier

In [ ]:
#3
rf = RandomForestClassifier(random_state=42)

In [ ]:
rf_grid = GridSearchCV(estimator=rf,
                      param_grid=rf_dict,
                      scoring='accuracy',
                      cv=10,
                      n_jobs=-1)

In [ ]:
import joblib

In [ ]:
rf_grid.fit(x_treino, y_treino)#.values.ravel()  colocar este comando depois de y_treino se precisar.

In [ ]:
rf_grid.best_params_

In [ ]:
rf_grid.best_score_

In [ ]:
accuracy_score(y_teste, rf_grid.predict(x_teste))

### Gradient Boosting

In [ ]:
gb_dict = { 
    "max_depth":[3,5,8],
    "max_features":["log2","sqrt"],
    "criterion": ["friedman_mse",  "mae"],
    'random_state': [1967]    
    }

In [ ]:
from sklearn.ensemble import GradientBoostingClassifier

In [ ]:
gb = GradientBoostingClassifier(random_state=42)

In [ ]:
gb_grid = GridSearchCV(estimator=gb,
                       param_grid=gb_dict,
                       scoring='accuracy',
                       cv=10,
                       n_jobs=-1 # ACELERA O TEMPO DE PROCESSAMENTO
                      )

In [ ]:
gb_grid.fit(x_treino,y_treino)

In [ ]:
gb_grid.best_params_

In [ ]:
gb_grid.best_score_

In [ ]:
gb_grid.best_estimator_

### Salvar melhor modelo

In [ ]:
import joblib

In [ ]:
joblib.dump(gb_grid.best_estimator_,
            'modelo_exemplo_gb.pkl',
            compress=1)

### Score do grupo de teste

In [ ]:
dados_teste = pd.read_csv('test.csv', sep=',')

In [ ]:
dados_teste.head()

In [ ]:
dados_teste = dados_teste.rename(columns={
    'id':'id',
    'gender':'genero',
    'SeniorCitizen':'Idoso',
    'Partner':'TemParceiro',
    'Dependents':'TemDependentes',
    'tenure':'MesesNaCompanhia',
    'PhoneService':'TemTelefone',
    'MultipleLines':'MaisLinhas',
    'InternetService':'TemInternet',
    'OnlineSecurity':'ServicoSegurancaOnline',
    'OnlineBackup':'ServicoBackupOnline',
    'DeviceProtection':'ServicoProtecaoOnline',
    'TechSupport':'ServicoSuporteOnline',
    'StreamingTV':'ServicoTV',
    'StreamingMovies':'ServicoPctFilmes',
    'Contract':'Contrato',
    'PaperlessBilling':'ContaOnline',
    'PaymentMethod':'MetodoPagamento',
    'MonthlyCharges':'CobrancaMensal',
    'TotalCharges':'CobrancaTotal'
})

In [ ]:
quantitativas_teste = dados_teste[['MesesNaCompanhia','CobrancaMensal','CobrancaTotal']]
categóricas_teste = dados_teste.drop(columns=['id','MesesNaCompanhia','CobrancaMensal','CobrancaTotal'],
                         axis=1)

In [ ]:
quantitativas_teste.head()

In [ ]:
categóricas_teste.head()

In [ ]:
quantitativas_teste['CobrancaTotal'] = pd.to_numeric(quantitativas_teste['CobrancaTotal'], errors='coerce')

In [ ]:
quantitativas_teste.dtypes

In [ ]:
quantitativas_teste.isnull().sum()

In [ ]:
quantitativas_teste['CobrancaTotal_2'] = quantitativas_teste['CobrancaTotal'].fillna(quantitativas_teste['CobrancaTotal'].mode()[0])

In [ ]:
quantitativas_teste[['CobrancaTotal_2']].isnull().any()

In [ ]:
quantitativas_teste['MesesNaCompanhia_2']  = quantitativas_teste['MesesNaCompanhia'].fillna(quantitativas_teste['CobrancaTotal']/
                                                                               quantitativas_teste['CobrancaMensal'])

In [ ]:
quantitativas_teste['MesesNaCompanhia_2'].isnull().any()

In [ ]:
quantitativas_teste_2 = quantitativas_teste[['CobrancaMensal','CobrancaTotal_2','MesesNaCompanhia_2']]

In [ ]:
quantitativas_teste_2.head()

In [ ]:
quantitativas_teste_2.isnull().sum()

In [ ]:
discretizer_teste = KBinsDiscretizer(n_bins=5,
                              encode='ordinal',
                              strategy='quantile')

In [ ]:
discretizer_teste.fit(quantitativas_teste_2)

In [ ]:
bining_teste = discretizer_teste.fit_transform(quantitativas_teste_2)

In [ ]:
quantitativas_teste_bining = pd.DataFrame(bining_teste,
                                    columns=['CobrancaMensal',
                                             'CobrancaTotal_2',
                                             'MesesNaCompanhia_2'])

In [ ]:
quantitativas_teste_bining.head()

In [ ]:
quantitativas_teste_bining.isnull().sum()

In [ ]:
categóricas_teste.head()

In [ ]:
categóricas_teste.isnull().sum()

In [ ]:
categóricas_teste['TemDependentes'] = categóricas_teste['TemDependentes'].fillna(categóricas_teste['TemDependentes']=='Miss')

In [ ]:
categóricas_teste['MetodoPagamento'] = categóricas_teste['MetodoPagamento'].fillna(categóricas_teste['MetodoPagamento']=='Miss')

In [ ]:
categóricas_teste.isnull().sum()

In [ ]:
categóricas_teste.nunique()

In [ ]:
dummies_teste = pd.get_dummies(categóricas_teste,
                        prefix_sep='_',
                        drop_first=True)

In [ ]:
dummies_teste.head()

In [ ]:
dummies_teste.columns

In [ ]:
explicativas_teste=pd.concat([quantitativas_teste_bining,dummies_teste],
                      axis=1)

In [ ]:
explicativas_teste.head()

In [ ]:
explicativas_teste.shape

In [ ]:
explicativas_teste.isnull().sum()

In [ ]:
df_id = dados_teste[['id']]

In [ ]:
df_id.head()

In [ ]:
import joblib

In [ ]:
modelo_salvo = joblib.load(open('modelo_exemplo_gb.pkl', 'rb'))

In [ ]:
modelo_salvo

In [ ]:
resposta = modelo_salvo.predict(explicativas_teste)

In [ ]:
resposta_df = pd.DataFrame(resposta, columns=['Churn'])

In [ ]:
resposta_df.head()

In [ ]:
resultado_submissao = pd.concat([df_id,
                                resposta_df], axis=1)

In [ ]:
resultado_submissao.head().T

In [ ]:
resultado_submissao.to_csv('submissao_kaggle_2.csv', index=False)

In [ ]:
csv = pd.read_csv('submissao_kaggle_2.csv',sep=',')

In [ ]:
csv.head()